.container {
  padding: 20px 40px;
  border: 1px solid var(--gray-500);
  border-radius: 4px;
}

.cartList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media screen and (max-width: 510px) {
  .container {
    padding: 15px;
  }
}
