.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--gray-500);
  font-size: 14px;
  transition: color 0.2s linear;
}

.button:hover {
  color: var(--gray-900);
}
