.info {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.title {
  font-weight: 600;
  font-size: 36px;
  color: var(--gray-900);
}

.rating {
  display: flex;
  justify-content: space-between;
}

.category {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-600);
}

.stock {
  padding: 9px 0;
  border-top: 1px solid var(--gray-500);
  border-bottom: 1px solid var(--gray-500);
  color: var(--orange);
  font-weight: 500;
  font-size: 18px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray-900);
}

.seconaryText {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-600);
}
