.galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  width: 520px;
}

.main-photo {
  max-height: 520px;
  max-width: 520px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
}

.main-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 100%;
  list-style: none;
}

.slider > li {
  height: 70px;
  width: 70px;
}

.slider > li img {
  object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
  display: block;
  height: auto;
  max-width: 100%;
}

.btn {
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.miniSlider {
  display: none;
}

@media screen and (max-width: 550px) {
  .miniSlider {
    display: block;
  }

  .slider {
    display: none;
  }
}
