.container {
  display: flex;
  min-width: 188px;
  align-items: center;
  flex-grow: 2;
  -webkit-flex-grow: 2;
}

.count {
  display: block;
  font-weight: 400;
  font-size: 14px;
  flex-grow: 2;
  -webkit-flex-grow: 2;
}
