.container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(298px, 1fr));
  padding: 0;
  list-style: none;
  row-gap: 20px;
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
  margin-bottom: 47px;
}
