.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--gray-100);
  border-radius: 6px;
  padding: 12px;
  margin-top: 7px;
  flex-wrap: wrap;
}

.prices {
  display: flex;
}

.price-info {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  border-right: 1px solid var(--gray-200);
}

.final-price {
  font-weight: 600;
  font-size: 36px;
  color: var(--gray-900);
  line-height: 40px;
}

.price {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 16px;
  color: var(--gray-600);
  text-align: left;
}

.discount-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  padding-left: 30px;
}

.discount-info-span {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-900);
}

@media screen and (max-width: 560px) {
  .container {
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .discount-info {
    display: block;
    padding-left: 0;
  }
}
