.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 50px 5px 90px;
}

.title {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: var(--gray-900);
  margin-bottom: 48px;
}

.content {
  display: flex;
  gap: 55px;
}

@media screen and (max-width: 1120px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 510px) {
  .container {
    padding: 10px 5px 10px;
  }

  .container {
    padding: 10px 5px 10px;
  }
}
