.loading,
.noData,
.error {
  min-height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: var(--gray-900);
}

.error {
  color: var(--orange);
}
