.faqButton {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-family: 'Jost';
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  cursor: pointer;
}

.question {
  font-weight: 400;
}

.open {
  border-bottom: none;
}

.answer {
  padding-bottom: 25px;
  padding-top: 4px;
  line-height: 26px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.answerOpen {
  max-height: 300px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--white);
}

.answerClose {
  max-height: 0;
  padding-bottom: 0;
}
