:root {
  --violet: #484283;
  --orange: #f14f4f;
  --orange-dark: #8c2828;
  --orange-white: #f8afaf;

  --white: #ffffff;
  --white-hover: #c4c4c4;
  --gray-100: #f6f6f6;
  --gray-200: #d5d5d5;
  --gray-500: #b2b5bb;
  --gray-600: #6d727b;
  --gray-900: #444b58;

  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 24px;
  --font-2xl: 30px;
  --font-3xl: 36px;
}

*,
::before,
:after,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
}

#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
