.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 52px 5px 44px;
}

.title {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: var(--gray-900);
}

.loading,
.error {
  min-height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: var(--gray-900);
}

.error {
  color: var(--orange);
}
