.hero {
  height: 500px;
  background-color: var(--violet);
  position: relative;
}

.hero:before {
  content: 'Goods4you';
  position: absolute;
  font-weight: 700;
  opacity: 12%;
  font-size: 200px;
  color: var(--white);
  top: 130px;
  left: 180px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  border-top: 1px solid var(--white);
  padding: 115px 0;
}

.content {
  text-align: left;
  color: var(--white);
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}
